*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: sans-serif;
}
#navigation{
    padding: 0 15%;
}

.nav-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* background-color: yellow; */
}
.logo{
    width: 190px;
}

.nav-container >ul {
    display: flex;
    list-style: none;
    padding: 15px ;
}

.nav-container >ul > li{
    margin: 15px;
}
.nav-container >ul >li >a{
    text-decoration: none;
    font-size: 15px;
    color: gray;
}

.discovery-Session {
    border: 1px solid #922DF9;
    padding: 5px 30px;
    text-align: center;
    border-radius: 50px;

}


.discovery-Session >a{ 
    text-decoration: none;
    text-transform: uppercase;
    color:#922DF9 ;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .6px;
    transition: .5s ;
}
.discovery-Session >a>i{
    color: gray;
}
.dropdown{
    transition: .5s;
    font-size: 13px;
    margin-left: 3px;
}
.eduction-dopdown-area{
    position: relative;
}

.eduction-dopdown-area:hover .dropdown{
    transform: rotate(180deg);
    
}

.eduction-dopdown-menu{
    position: absolute;
    margin-top:20px ;
    background-color: #FFFFFF;
    box-shadow: 2px 3px 15px  gray;
    padding: 15px;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    transform-origin:top; 
    z-index: 100;
    /* transform: scaleY(0); */
     
}
.eduction-dopdown-menu > li{
    padding: 8px;
    transition: .5s;
    color: gray;
}
.eduction-dopdown-menu > li:hover{
    background-color: #cac6c6;
}




.eduction-dopdown-menu > li >a{
    font-size:16px ;
    color: gray;
    text-decoration: none;
}
.eduction-dopdown-li:hover .eduction-dopdown-menu {
    visibility: visible;
    opacity: 1; 
    /* transform: scaleY(1); */
      
}

.header-main{
    display: flex;
    padding: 0 15%;
    border-top: 1px solid #F2F2F2;
    align-items: self-start;
    justify-content: center;
    
}
.header-main-img{
     width: 480px;
     margin-top: 120px;
}

.header-main-text {
    padding: 100px 0px 100px 50px ;
    
}

.header-main-text h1{
    font-size: 60px;
    color: #3856B9 ;
    margin-bottom: 15px;
}

.header-main-text  p{
    color: gray;
    line-height: 25px;
    font-weight: 300;
    font-size: 16px;
    width: 600px;
    padding-bottom:20px ;
}

.header-main-text button{
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
    background-color:#3856B9 ;
}

.header-main-text button:hover a{
    color: wheat;
}





.header-main-text button > a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 530;
    transition: .5s;
    /* letter-spacing:1px; */
}

/* services section code start hare */

#services-section{
    background-color: #F5F5F5;
    padding: 80px 0 30px 0px;
}


.Services-container{
    width: 1000px;
    margin: auto;
}
.services-tittle{
    text-align: center;
}
.services-tittle h2{
    font-size: 40px;
    font-weight:500;
    padding-bottom:15px ;
    color:#3856B9 ;
}
.services-tittle p{
    color: gray;
    line-height: 20px;
    padding-bottom: 20px;
}
.services-span{
    color: #404050;
}

.services-tittle > h4{
    color: #797992;
}

.services-items-parent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    padding: 50px;
    
}

.services-single-item{
    border: 1px solid gainsboro;
    padding: 30px;
    text-align: center;
    border-radius: 25px;
    transition: .5s ;
    
}

.services-single-item:hover{
    border: 1px solid #3856B9 ;
    box-shadow: 1px 1px 15px gray ,  1px 1px 15px gray ;
}




.service-img{
    width: 100px;
    margin: auto;
    padding: 25px 0;
}
.service-img img{
    width: 100%;
}

.services-single-item h3{
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 20px;
}
.services-single-item p{
    color: gray;
    line-height: 23px;
    font-size: 15px;
}



/* about section code start hare */




.about-container{
    width: 1300px;
    margin: auto;
}

.about-parent-items-1{
    display: flex;
    
    padding: 50px  0;
    /* margin: auto; */
    /* align-items: center; */
}

.about-img{
    width: 500px;
}
.about-single-item h2{
    font-size: 40px;
    font-weight: 500;
    color:#3856B9 ;
    padding-bottom:20px ;
    text-align: center;
    margin-top: 100px;
}
.about-single-item > p{
    padding: 0 50px ;
    text-align: justify;
    font-weight: 300;
    line-height: 27px;
}

.about-parent-items-2 > h2{
    padding-bottom:20px;
}
.about-item-1{
   border: 1px solid gainsboro;
   border-radius: 25px;
   margin-bottom: 60px;
}

.about-item-1 > div{
    width: 150px;
    margin: auto;
    padding-top: 35px;
}
.about-item-1 > h2{
    text-align: center;
    padding: 20px 0 15px 0;
}

.about-item-1 > p{
    padding: 0 60px;
    text-align: center;
    line-height: 25px;
    margin-bottom:20px ;
}

.about-btn{
    text-align: center;
    margin-bottom: 50px;
}
.about-btn > button{
    padding: 15px 30px;
    font-size: 18px;
    background-color: #3856B9;
    border: none;
    color: white;
    border-radius: 25px;
    font-weight: 500;
    border: 1px solid #3856B9;
    transition: .5s;
}
.about-btn > button:hover{
    background-color: white;
    border: 1px solid #3856B9;
    color: black;
}

/* -- result section code start hare -- */


#result-section{
    background-color: #F5F5F5 ;
    padding: 80px 0px;
}

.results-container{
    width: 1300px;
    margin: auto;
}
.result-tittle{
    text-align: center;
}

.result-tittle > h2{
    font-size: 40px;
    font-weight: 400;
    color: #3856B9 ;
    margin: 5px;
}

.result-tittle > h5{
    color: gray;
}
.result-items-parent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 80px;
    padding-top: 80px;
     
}

.result-items-parent div{
    /* background-color: yellow; */
    width: 500px;
     
}


 .result-single-item-img {
    width: 500px;
    /* background-color: yellow; */
    border-radius: 25px;
}

 

.result-single-item1{
    justify-self: end;
    
}
.result-single-item2{
    justify-self: start;
}

.result-single-text-area h2{
    font-size: 40px;
    padding-bottom: 10px;
    
}
.result-single-text-area > p{
    color: gray;
    line-height: 25px;
}
.result-single-text-area > h3{
    margin-top: 25px;
}

.result-single-text-area > h3 > a{
    text-decoration: none;
    color: #3856B9;
}

.result-single-text-area > h3 >i{
    padding-left: 10px;
    color: #3856B9;
}

.results-btn{
    text-align: center;
    padding-top: 80px;
}
.results-btn > button{
    padding: 15px 30px;
    background-color:#3856B9 ;
    border-radius: 25px;
    border: 1px solid #3856B9;
    color: white;
    font-size: 16px;
    transition: .5s;


}
.results-btn > button:hover{
    background-color: transparent;
    color: black;
}


 /* feedback section code start hare */

#feedback-section{
    padding-top: 80px;
    padding-bottom:50px ;

}
.feedback-items-parent{
    width: 1300px;
    margin: auto;
}

.feedback-single-item{
    border: 1px solid gainsboro;
    margin-top:50px ;
    padding: 30px;
    border-radius: 25px;
    
    
}

.feedback-single-item > h4{
    font-weight: 50;
    font-size: 18px;
    color: gray;
    padding-bottom: 40px;
}
.feedback-single-item > h4 > i > span{
    color: black;
}

.feedback-single-item > h5{
    font-size: 15px;
    padding-bottom:3px ;
}

.feedback-single-item > p{
    font-size: 15px;
}

.score-area{
    margin: auto;
    text-align: center;
    padding-top: 80px;
}


.Score-img{
    width: 350px;
}

.score-area >h2{
    font-size: 35px;
    padding-bottom:10px ;
}
.score-area > h2 > span{
    color: #259A17;
}

.score-area > h2 > i{
    color: #F5D741;
}

.score-area > p{
    font-size: 15px;
}

footer{
    background-color:#F5F5F5 ;
    padding-top: 200px;
}
