*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: sans-serif;
}
#navigation{
    padding: 0 15%;
}

.nav-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* background-color: yellow; */
}
.logo{
    width: 190px;
}

.nav-container >ul {
    display: flex;
    list-style: none;
    padding: 15px ;
}

.nav-container >ul > li{
    margin: 15px;
}
.nav-container >ul >li >a{
    text-decoration: none;
    font-size: 15px;
    color: gray;
}

.discovery-Session {
    border: 1px solid #922DF9;
    padding: 5px 30px;
    text-align: center;
    border-radius: 50px;

}


.discovery-Session >a{ 
    text-decoration: none;
    text-transform: uppercase;
    color:#922DF9 ;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .6px;
    transition: .5s ;
}
.discovery-Session >a>i{
    color: gray;
}
.dropdown{
    transition: .5s;
    font-size: 13px;
    margin-left: 3px;
}
.eduction-dopdown-area{
    position: relative;
}

.eduction-dopdown-area:hover .dropdown{
    transform: rotate(180deg);
    
}

.eduction-dopdown-menu{
    position: absolute;
    margin-top:20px ;
    background-color: #FFFFFF;
    box-shadow: 2px 3px 15px  gray;
    padding: 15px;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    transform-origin:top; 
    z-index: 100;
    /* transform: scaleY(0); */
     
}
.eduction-dopdown-menu > li{
    padding: 8px;
    transition: .5s;
    color: gray;
}
.eduction-dopdown-menu > li:hover{
    background-color: #cac6c6;
}




.eduction-dopdown-menu > li >a{
    font-size:16px ;
    color: gray;
    text-decoration: none;
}
.eduction-dopdown-li:hover .eduction-dopdown-menu {
    visibility: visible;
    opacity: 1; 
    /* transform: scaleY(1); */
      
}

/* main header section */

.main-header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.37),rgba(0, 0, 0, 0.445)),url(../img/pexels-thatguycraig000-1563356.jpg);
    width: 100%;
    height: 89vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main-header-text{
    /* text-align: center; */
    color: White;
    padding-top:100px;
}
.main-header-text > h1{
    text-align: center;
}

.main-header-text > ul{
    padding: 0 15%;
    font-size: 20px;
    margin-top: 150px;
    margin-bottom: 30px ;
}
.main-header-text > ul > li{
    line-height: 30px;
    
}
.main-header-text > ul > li > a{
    color: white;
    text-decoration: none;
}
.footer{
    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}


.footer-nav-area{
    background-color:#8028DA ;
    
    
    
    
}

.footer-nav1{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px 0;
    margin: 0 15%;
}
.footer-nav1 > ul{
    list-style: none;
    display: flex;
    margin-left:50px ;
}
.footer-nav1 > ul > li{
    margin-left: 20px;
    color: white;
    transition: .5s;
}
.footer-nav1 > ul > li:hover{
    color: rgb(221, 188, 188);
}
.footer-nav-2{
    display: flex;
    justify-content:left;
    align-items: self-end;
    padding-bottom: 50px;
    margin: 20px 0;
    padding: 0 15%;
}
.footer-nav-2 > ul{
    list-style: none;
    display: flex;
    padding-left:50px ;
}
.footer-nav-2 i{
    padding: 15px ;
    background-color: white;
    color: #8028DA;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 10px;

}
.footer-nav-2 > ul >li{
    margin-left: 20px;
    color: white;
    transition: .5s;
}
.footer-nav-2 > ul >li:hover{
    color: #cac6c6;
}

.copyright-area {
    background-color:#912DF8 ;
    padding: 15px 15%;
    display: flex;
    align-items: center;
    /* margin-left: 40px; */
    color: white;
     
}

.copyright-area > ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 20px;
    
}
.copyright-area > ul >li{
    margin-left: 20px;
    
}

.copyright-area > ul >li >a{
    text-decoration: none;
    color: #589FF2;
}