*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.from-section{
    width: 600px;
    margin: auto;
    /* background-color: aqua; */
    padding-top: 50px;
}
.logo-area > img{
    width: 80px ;
    border-radius: 25px;
    margin-bottom: 20px ;
}
.texta-area > h1{
    font-size: 45px;
    margin-bottom: 20px;
}
.frist-list > ol{
    margin-left: 17px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.frist-list > ol >li{
    font-size: 15px;
}


.form-area > h3{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
}

.form-area  h4{
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 4px;
}
.form-area input{
    width: 98%;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 5px ;
    margin-bottom: 20px;
}
select{
    width: 99%;
    height: 20px;
    padding-bottom: 20px;
    padding-top: 8px;
    background-color:#FFFFFF ;
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 20px;
}
option{
    color: gray;
}
input{
    /* margin-top: 10px; */
    width: 99%;
}

textarea{
    width: 98%;
    height: 100px;
    font-size: 15px;
    margin-bottom: 50px
}
.btn{
    padding-bottom: 35px;
    padding-top: 10px;
    font-size: 17px;
    width: 100%;
    text-align: center;
    background-color: #3438AD ;
    color: white;
    border: none;
    
}
.btn-div{
    text-align: center;
    

}


.last-text-area{
    font-weight: 500;
    text-align: center;
    margin-top: 50px;
    color: gray;
}